/*fuente*/
	@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
/*fin fuente*/

/*elementos*/
	body{
		background: #f1f1f1;
		color: #555;
		font-family: 'Roboto', sans-serif, arial;
	  	font-size: 16px;
	  	font-weight: 300;
	}

	.factura{
		background: #fff;
		color: #000;
		font-size: 15px;
		line-height: 1em;
	}

	h1, h2, h3, h4, h5, h6{
		font-weight: 300;
		line-height: 1.1em;
	}

	a{
		color: none;
		text-decoration: none;
	}

	img{
		display: block;
		width: 100%;
	}

		.img_arriba {
		background-position: center;
		background-size: cover;
		height: 20em;
		max-height: 20em;
		max-width: 100%;
		}

		.img_arriba_ajustes {
		background-position: center;
		background-size: cover;
		height: 12.5em;
		max-height: 12.5em;
		max-width: 100%;
		}

		.img_avatar {
		background-position: center;
		background-size: cover;
		border-radius: 10em;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		height: 6em;
		width: 6em;
		}
/*fin elementos*/

/*formularios*/
	input, button, textarea, select {
   		-webkit-appearance: none;
 	}
	input, button, textarea{
		background: #FAFAFA;
		border: 1px solid #ddd;
		font-weight: 300;
		padding: 1.25em;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	label{
		font-weight: bold;
	}

	.fechas{
		width: 32%;
	}

	.input_pagar{
		background: #FAFAFA;
		border: 1px solid #ddd;
		font-weight: 300;
		font-size: 1.5em;
		padding: 0.5em;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.formulario_pagar{
		margin: 0px auto;
		text-align: center;
		width: 60%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.neutral, .advertencia, .proceder, .boton_reporte{
		background: #2196F3;
		border-radius: 0.25em;
		border: none;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		color: #fff;
		font-weight: bold;
		width: auto;
	}

	.boton_reporte{
		width: 32%;
	}

	.advertencia{
		background: #F44336;
		font-weight: normal;
	}

	.proceder{
		background: #009688;
		font-weight: normal;
	}	

	select{
		background: #fafafa;
		border: solid 1px #DDD;
		font-weight: 300;
		padding: 1.25em;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.alineacion_botonera{
		text-align: right;
	}
/*fin formularios*/

/*mensajes*/
	.mensaje_error, .mensaje_exito{
		background-color: #F5F5F5;
		border-radius: 0em;
		color: #F44336;
		padding: 1em 1em;
		margin: 1em -1em;
		text-align: left;
		}

	.mensaje_exito{
		color: #009688;
	}
	.mensaje_neutral{
		background-color: #2196F3;
	}
/*fin mensajes*/

/*textos*/
	.descripcion{
		color: #999;
	}

/*reportes*/

	.texto_exito{
		color: #009688;
		font-weight: bold;
	}

	.texto_error{
		color: #F44336;
		font-size: 1.15em;
		font-weight: bold;
	}

	.texto_neutro{
		font-size: 1.15em;
		font-weight: bold;
	}

	.barra_fondo{
		background: #f5f5f5;
		font-weight: bold;
	}

	.barra_porcentaje_margen{		
		width: 75%;
	}

		.barra_porcentaje{
			background-color: #E0F2F1;
			border-right: solid 1px #4DB6AC;
			color: #009688;			
			font-weight: bold;
			padding: 1em;
		}

	.texto_porcentaje{
		
		color: #009688;
		font-weight: bold;
		margin-top: -1.7em;
		padding-left: 1em;
	}

		.porcentaje_izq{
			
			display: inline-block;
			width: 65%;
		}

		.porcentaje_der{
			color: #555;
			display: inline-block;
			text-align: right;
			width: 30%
		}

/*encabezado*/
	header{
		background: rgba(0,0,0,0.8);
		box-shadow: 0 0 0.5em rgba(0,0,0,1);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20001;
	}

	.header_contenedor{
		margin: 0px auto;
		max-width: 600px;
		width: 97%;
		padding: 0.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

		.cabezote_col_izq{
			display: inline-block;
			text-align: left;
			width: 36%
		}

			.flecha_izq{
			    border-bottom:0.4em solid transparent;
			    border-right:0.4em solid #F5F5F5;
			    border-top:0.4em solid transparent;
			    display: inline-block;
			}

		.cabezote_col_cen{
			display: inline-block;
			text-align: center;
			width: 25%
		}

			.logo_img{
				background: #FF9800;
				border-radius: 1em;
				border-top-left-radius: 0;
				display: inline-block;
				height: 0.75em;
				width: 0.75em;
			}

			.logo_txt{
				color: #FFF;
				font-weight: 350;
			}

		.cabezote_col_der{
			display: inline-block;
			text-align: right;
			width: 36%
		}

		.flecha_der{    
		    border-bottom:0.4em solid transparent;
		    border-left:0.4em solid #F5F5F5;
		    border-top:0.4em solid transparent;
		    display: inline-block;
		}

		.flecha_aba{    
		    border-right:0.4em solid transparent;
		    border-left:0.4em solid transparent;
		    border-top:0.4em solid #F44336;
		    display: inline-block;
		    margin-right: 0.25em;
		}

		.flecha_arr{    
		    border-right:0.4em solid transparent;
		    border-left:0.4em solid transparent;
		    border-bottom:0.4em solid #009688;
		    display: inline-block;
		    margin-bottom: 0.25em;
		    margin-right: 0.25em;
		}

		.cab_texto{
			color: #fff;
			margin-top: -2em;
			padding-left: 0.75em;
			padding-bottom: 0.5em;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}
		.ingresos_texto{
			font-size: 3em;
			margin: 0.5em 0em;
		}
/*fin encabezado*/

/*pie pagina*/
	footer{
		background: rgba(0,0,0,0.8);
		box-shadow: 0 0 0.5em rgba(0,0,0,1);
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 20001;
	}

	.footer_contenedor{
		margin: 0px auto;
		max-width: 600px;
		width: 97%;
		padding: 0.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

		.pie_col_izq{
			display: inline-block;
			text-align: left;
			width: 36%
		}

			.flecha_izq{
			    border-bottom:0.4em solid transparent;
			    border-right:0.4em solid #F5F5F5;
			    border-top:0.4em solid transparent;
			    display: inline-block;
			}

		.pie_col_cen{
			display: inline-block;
			text-align: center;
			width: 25%
		}

			.logo_img{
				background: #FF9800;
				border-radius: 1em;
				border-top-left-radius: 0;
				display: inline-block;
				height: 0.75em;
				width: 0.75em;
			}

			.logo_txt{
				color: #FFF;
				font-weight: 350;
			}

		.pie_col_der{
			display: inline-block;
			text-align: right;
			width: 36%
		}

		.flecha_der{    
		    border-bottom:0.4em solid transparent;
		    border-left:0.4em solid #F5F5F5;
		    border-top:0.4em solid transparent;
		    display: inline-block;
		}

		.flecha_aba{    
		    border-right:0.4em solid transparent;
		    border-left:0.4em solid transparent;
		    border-top:0.4em solid #F44336;
		    display: inline-block;
		    margin-right: 0.25em;
		}

		.flecha_arr{    
		    border-right:0.4em solid transparent;
		    border-left:0.4em solid transparent;
		    border-bottom:0.4em solid #009688;
		    display: inline-block;
		    margin-bottom: 0.25em;
		    margin-right: 0.25em;
		}

		.cab_texto{
			color: #fff;
			margin-top: -2em;
			padding-left: 0.75em;
			padding-bottom: 0.5em;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}
		.ingresos_texto{
			font-size: 3em;
			margin: 0.5em 0em;
		}
/*fin pie pagina*/

/*cuerpo*/
	#contenedor{
		margin: 0px auto;
		max-width: 600px; 
		width: 95%;
		margin-top: 5.75em;
	}

	.bloque{	
		background: #FFF;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		line-height: 1.5em;
		margin: 1em 0;
	}

	.bloque_margen{		
		padding: 0.5em 1em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.separador{
		border-top: #DDD solid 1px;
		display: block;
		margin: 0.5em 0;
		width: 100%;
	}
/*fin cuerpo*/

/*factura*/
	#factura_contenedor{
		margin: 0px auto;
		max-width: 300px; 
		width: 100%;
	}

	.factura_encabezado{
		text-align: center;
	}

	.factura_col_izq_arriba{
		display: inline-block;
		text-align: left;
		width: 49%
	}

	.factura_col_der_arriba{
		display: inline-block;
		text-align: right;
		width: 49%
	}

	.factura_col_izq{
		display: inline-block;
		line-height: 1.1em;
		text-align: left;
		width: 69%
	}

	.factura_col_der{
		display: inline-block;
		line-height: 1.1em;
		text-align: right;
		width: 29%
	}
	.factura_contenido{
		border-bottom: dotted 1px #555;
		display: block;
	}

/*item*/
	.item{
		padding: 0.25em 0;
	}

		.item_img{
			display: inline-block;
			vertical-align: middle;
		}

		.item_img_top{
			display: inline-block;
			vertical-align: top;

		}

		.item_img_top img{
			border-radius: 100em;
		}

		.item_img img{
			border-radius: 100em;
		}

		.item_info{
			display: inline-block;
			margin-left: 1em;
			vertical-align: middle;
			width: 75%;
		}

			.item_titulo{
				color: #555;
				display: block;
				font-size: 1.15em;
				font-weight: 400;
			}

			.item_descripcion{
				color: #555;
				display: block;
			}

			.item_descripcion_claro{
				color: #999;
				display: block;
			}

			.item_cuenta{
				margin: 0.25em 0;
			}
/*fin item*/

/*pago*/
.pago_col_izq{			
			display: inline-block;
			text-align: right;
			width: 49%
		}

.pago_col_der{			
			display: inline-block;
			text-align: left;
			width: 49%
		}



/*media queries*/
@media screen and (max-width: 640px){	
	body{
		font-size: 13px;
	}

	.img_arriba
	{		
	height: 15em;
	max-height: 15em;
	}
	.img_arriba_ajustes
	{		
	height: 9em;
	max-height: 9em;
	}
	.img_avatar
	{		
	height: 4.5em;
	width: 4.5em;
	}
	.img_avatarsito
	{
	height: 2em;
	margin-top: -1.7em;
	width: 2em;
	}


		

	

}

@media screen and (max-width: 410px){
	body{
		font-size: 12px;
	}
	h2{
		font-size: 1.25em;
	}
	#contenedor{		
		margin-top: 5em;
	}
	.img_avatar
		{		
		height: 4.25em;
		width: 4.25em;
		}
/* fin media queries*/